* {
    font-family: 'azarmehr-font';
    /* azarmehr-font */
}

html {
    height: 5000px;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --mian-text-color: #c8020c;
    --secondary-text-color: #494949;
    --dark-text-color: #373737;
    --border-header-color: #c8020c
}


body {
    /* #0e2338 */
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #0e2338;
        --text-color: #ffffff;
        --mian-text-color: #c8020c;
    }
}

body.dark-mode {
    --bg-color: #0e2338;
    --text-color: #ffffff;
} */



.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.text-main {
    color: var(--mian-text-color);
}

.lh-2 {
    line-height: 2;
}

.custom-text-secondary {
    color: var(--secondary-text-color);
}

.dark-text-secondary {
    color: var(--secondary-text-color);
}

.header-font-size {
    font-size: 42px;
}


.custom-btn-danger {
    background: #b8030f;
    padding: 7px 26px;
    color: #efefef;
    border-radius: 11px;
    font-size: 15px;
}

.custom-btn-danger:hover {
    color: white;
}


a {
    all: unset;
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.object-fit-cover {
    object-fit: cover;
}

.me-img-header {
    border: 2px solid white;
    border-radius: 50%;
}

.me-img-header-parent img:not(:first-child) {
    margin-right: -20px;
    z-index: 1;
    position: relative;
}

.fs11 {
    font-size: 11px;
}

.fs12 {
    font-size: 12px;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs15 {
    font-size: 15px;
}

.fs17 {
    font-size: 17px;
}

.fs18 {
    font-size: 18px;
}

.fs19 {
    font-size: 19px;
}

.back-circle {
    border-radius: 50%;
    position: absolute;
    filter: blur(100px);
    opacity: .3;
    z-index: -1;
    width: 80%;
    height: 80%;
}

.back-circle-color-1 {

    background-color: #ff4c4cb7;
    top: -50px;
    left: 0;
}

.back-circle-color-2 {
    background-color: #ff9d4c8f;
    bottom: -150px;
    right: -50px;
}

.back-circle-color-3 {
    border-radius: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    background-color: #794cff2c;
    top: -150px;
    left: -150px;
}

.login-btn-header {
    background: transparent;
    border: 1px solid #c8020c;
    padding: 7px 13px;
    border-radius: 10px;
    font-size: 13px;
    color: #c8020c;
}

.main-menu ul {
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.main-menu ul li {
    margin-right: 20px;
    font-size: 14px;
}

.main-menu ul li a {
    color: #000000;
}

/* .main-menu ul li a.active {
    font-weight: 700;
    color: rgb(87, 87, 87);
} */
.border-header-bottom {
    border-bottom: 2px solid #8700070f;
}